---
- name: Create user group
  group:
    name: "{{ user.name }}"
    gid: "{{ user.uid }}"
    state: present
  tags:
  - user

- name: Create user
  user:
    name: "{{ user.name }}"
    group: "{{ user.name }}"
    password: "{{ user_password|password_hash('sha512') }}"
    shell: "{{ user.shell }}"
    update_password: on_create
    uid: "{{ user.uid }}"
  tags:
  - user

- name: Add user to SSH allowed users group
  user:
    name: "{{ user.name }}"
    groups: "{{ ssh.allowed_group }}"
    append: yes
  tags:
  - user
  - ssh
