---
- name: Install Linux
  pacman: name=linux,linux-firmware state=present

- name: Install AMD microcode
  pacman: name=amd-ucode state=present

- name: Install boot tools
  pacman:
    name: efitools, sbsigntools, efibootmgr, tpm2-tools
    state: present

- name: Add sbupdate config file
  template:
    src: sbupdate.conf.j2
    dest: /etc/sbupdate.conf
  vars:
    cmdline: "rw root=/dev/{{ hostname }}/root resume=/dev/{{ hostname }}/swap cryptdevice=PARTLABEL={{ hostname }}:cryptlvm:allow-discards"

- name: Check if systemd-boot bootloader is installed
  command: bootctl is-installed
  register: systemd_boot_installed
  ignore_errors: true
  changed_when: false

- name: Install systemd-boot bootloader
  command: bootctl --path=/boot install
  when: systemd_boot_installed is failed

- name: Install systemd-boot config
  template:
    src: loader.conf.j2
    dest: /boot/loader/loader.conf
  vars:
  - default_entry: "{{ hostname }}-mkinitcpio"

- name: Install systemd-boot entry - mkinitcpio
  template:
    src: entry.conf.j2
    dest: /boot/loader/entries/{{ hostname }}-mkinitcpio.conf
  vars:
  - lvm_vg: "{{ hostname }}"
    luks_partition: "{{ hostname }}"
    title: "{{ hostname }}-mkinitcpio"
    initramfs: /initramfs-linux.img

- name: Install systemd-boot entry - mkinitcpio fallback
  template:
    src: entry.conf.j2
    dest: /boot/loader/entries/{{ hostname }}-mkinitcpio-fallback.conf
  vars:
  - lvm_vg: "{{ hostname }}"
    luks_partition: "{{ hostname }}"
    title: "{{ hostname }}-mkinitcpio-fallback"
    initramfs: /initramfs-linux-fallback.img
