# {{ ansible_managed }}
title {{ hostname }}
linux /vmlinuz-linux-hardened
{% if "GenuineIntel" in ansible_processor %}
initrd /intel-ucode.img
{% endif %}
initrd /initramfs-linux-hardened.img
options rw root=/dev/{{ hostname }}/root resume=/dev/{{ hostname }}/swap cryptdevice=PARTLABEL={{ hostname }}:cryptlvm:allow-discards
